<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi, <%= @user.email %>!</h3>
    <p>Thanks for supporting Giftr! We'll keep you updated about how you can help guide our product development.</p>
    <p>In the meantime, check us out on <a target="_blank" href="https://twitter.com/givegiftr">Twitter</a> and <a target="_blank" href="https://www.facebook.com/givegiftr/">Facebook</a>.</p>
  	<h3>Regards,</h3>
    <h3>Giftr Team</h3>
  </body>
</html>