<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi, <%= @user.email %>!</h3>
    <p> Thanks for supporting Giftr! Make sure you vote for Giftr <a href="https://app.reviewr.com/gsb/pitch?evtid=1305517&group=1305626&subid=1344235">at this link</a> and share your vote with your family and friends. We need your votes to launch Giftr and win Global Startup Battle 2015 </p>
  	<h3>Regards,</h3>
    <h3>Giftr Team</h3>
  </body>
</html>