<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Thanks for signing up, <%= @user.email %>!</h3>
    <p>Thanks for joining! Make sure you tell your friends and family to join so you can share gift ideas with each other </p>
  </body>
</html>