<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi, <%= @user.email %>!</h3>
    <p> Thanks for supporting Giftr! Make sure to tell your friends and family to vote for Giftr <a href="https://app.reviewr.com/gsb/pitch?evtid=1305517&group=1305626&subid=1344235">at this link</a>. We will keep you updated on the app! </p>
    <h4>Giftr</p>
  </body>
</html>