<div class="col-md-6 signups">
	<div>
		<strong>Sign up for Giftr early access</strong>

        <%= form_for @user, remote: true do |f| %>
        <%= f.email_field :email, placeholder: "Email Address", class: "form-control" %>
		<span id="help_block" class="help-block"></span>
		<%= f.submit "Sign me up!", class: "btn btn-social btn-github", data: {disable_with: "Loading..."} %>
		<% end %>
	</div>
</div>