@import 'pages.scss';

.friendly {
  font-family: $friendlyfont;
}
//begin carousel
.slick-slider {
  margin-bottom: 0 !important;
//  min-height: 80vh !important;
}
.slick-slider .imgcontainer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 90vh;
}
#firstimg {
  background-image: url("https://images.unsplash.com/photo-1425116100155-1ac0797442e1");
}
#secondimg {
  background-image: url("/assets/Bear_large.jpg");
}
.slick-prev, .slick-next {
  z-index: 1000 !important;
  width: 40px !important;
  height: 40px !important;
}
.slick-prev:hover, .slick-next:hover {
  background-color: rgba(2, 5, 9, 0.5) !important;
}
.slick-prev {
  left: 0 !important; 
}
.slick-next {
  right: 0 !important; 
}
.slick-next:before {
  content: "▶︎" !important;
}
.slick-prev:before {
  content: "◀︎" !important;
}
.slick-dots {
  list-style-position: inside !important;
  bottom: 0 !important;
}
.slick-dots button:before {
  background-color: #eee !important;
  border-radius: 100% !important;
  display: inline-block !important;
  height: 15px !important;
  width: 15px !important;
  content: "" !important;
}
.slick-dots .slick-active button:before {
  background-color: white !important;
}

//end carousel

//.dotClass {
//  color: white !important;
//}
//.slick-dots button {
//  height: 40px !important;
//  width: 40px !important;
//  border-radius: 100% !important;
//  background-color: black;
//}
//#myslider {
//	.orbit-slide {height: auto !important;
//		.layer-centered {
//			position:absolute;z-index:1;background:transparent;width:100%;text-align:center;
//			h2 {padding: 0rem 3rem;color:$white;text-shadow:0 0 20px #484848;
//				@include breakpoint(small only) {margin-top:13%;}
//				@include breakpoint(medium up) {margin-top:21%;}
//			}
//			.image-caption {color:$white;text-shadow:0 0 20px rgba($black-75, 0.75);
//				@include breakpoint(small only) {width: 100%;display: block;}
//			}
//		}
//	}
//}

//.orbit img {
//  height: 300px;
//  width: 100%;
//}
//.orbit-container .orbit-slides-container > * {
//position: relative;
//float: left;
//height: auto;
//}
//li.orbit-item-1 {
//  background-image: url("https://images.unsplash.com/photo-1425116100155-1ac0797442e1");
//  background-size: cover;
//  background-repeat: no-repeat;
//  background-position: center center;
//}
//li.orbit-item-2 {
//  background-image: url("/assets/Beat_large.jpg");
//  background-size: cover;
//  background-repeat: no-repeat;
//  background-position: center center;
//}
//.orbit-slide {
//  opacity: 0;
//}
//.orbit-slide.is-active {
//  opacity: 1;
//}
//.container-fl {
//  padding:0;
//  margin: 0;
//
//  display: -webkit-flex;
//  display: flex;
//  -webkit-flex-direction: row;
//  flex-direction: row;	
//  -webkit-flex-wrap: wrap; /* Safari */
//  flex-wrap:         wrap;
//// -webkit-justify-content: space-between; /* Safari */
//// justify-content:         space-between;
//  -webkit-align-items: center; /* Safari */
//  align-items:         center;
//}
#belief {
  background-image: url("https://images.unsplash.com/photo-1425116100155-1ac0797442e1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 80vh;
//  display: table-cell;
}
.fl-first {
		// display: inline-block;
		flex: 1;
}

.join-cta {
	margin-left:auto;
}


.fl-image {
	flex: 1
}

.note {
	font-weight: 300; 
	background-color: lighten($salmon, 20%)
}
.featitle{
	text-align:center;
}

#feature-1 {
	background-color: $lapis;
	color: white;
	padding: 1rem;
}

#feature-2 {
	background-color: $salmon;
	color: white;
}

#feature-3 {
	background-color: $peppercorn;
	color: white;
}