@import 'pages.scss';

.friendly {
  font-family: $friendlyfont;
}
//begin carousel
.slick-slider {
  margin-bottom: 0 !important;
}
.slick-slider .imgcontainer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 90vh;
}
#firstimg {
  background-image: url("https://images.unsplash.com/photo-1425116100155-1ac0797442e1");
}
#secondimg {
  background-image: url("https://images.unsplash.com/photo-1461344577544-4e5dc9487184");
}
.slick-prev, .slick-next {
  z-index: 1000 !important;
  width: 40px !important;
  height: 40px !important;
}
.slick-prev:hover, .slick-next:hover {
  background-color: rgba(2, 5, 9, 0.5) !important;
}
.slick-prev {
  left: 0 !important; 
}
.slick-next {
  right: 0 !important; 
}
.slick-next:before {
  content: "▶︎" !important;
}
.slick-prev:before {
  content: "◀︎" !important;
}
.slick-dots {
  list-style-position: inside !important;
  bottom: 0 !important;
  margin-left: 0 !important;
}
.slick-dots button:before {
  background-color: #eee !important;
  border-radius: 100% !important;
  display: inline-block !important;
  height: 15px !important;
  width: 15px !important;
  content: "" !important;
}
.slick-dots .slick-active button:before {
  background-color: white !important;
}
.imgcontainer {
  position: relative;
}
.slide_caption {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 15px;
  padding-bottom: 35px;
  background-color: rgba(2, 5, 9, 0.5) !important;
  text-align: center;
}
//end carousels

.existrow {
  margin-top: 30px;
}
.existimg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50px;
  background-image: url("https://images.unsplash.com/photo-1465060810938-30bbe7c40e76");
}
.img_caption {
  padding: 10px;
}

.fl-first {
		// display: inline-block;
		flex: 1;
}

.join-cta {
	margin-left:auto;
}


.fl-image {
	flex: 1
}

.note {
	font-weight: 300; 
	background-color: lighten($salmon, 20%)
}
.featitle{
	text-align:center;
}

#feature-1 {
	background-color: $lapis;
	color: white;
	padding: 1rem;
}

#feature-2 {
	background-color: $salmon;
	color: white;
}

#feature-3 {
	background-color: $peppercorn;
	color: white;
}