// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
    background-color: transparent;
}
.fw300 {
    font-weight: 300;
}
.no-pad {
    padding: 0;
};
.landingpage {
    background-image: image-url("Giftr_coverphoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
//    margin-bottom: 2vw;
//    text-align: center;
}
.landingpage .jumbotron {
    text-align: center;
    position: absolute;
    top: 25%;
    width: 100%;

}

#GiftrLogo {
    width: 350px;
    padding: 15px;
}
@media all and (max-width: 767px) {
    #GiftrLogo {
        max-width: 200px;
    }
    .Features .col-sm-4 {
        margin-bottom: 60px;
    }
}
.logocontainer {
    background-color: rgba(255,255,255,.5);
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
}
.subtext {
    padding: 15px;
}
.subtext p {
    color: white;
    font-weight: 300;
    text-align: center;
    font-size: 230%;
    text-shadow: 2px 2px #505050;
    display: inline-block;
    letter-spacing: 2px;
}
.bg-gray {
    background-color: #e8e8e8;
}
.marketing {
    text-align: center;
    color: #404040;
}
.marketing .col-sm-4 > div {
    background-color: #f8f8f8;
    padding: 30px 0;
}
.marketing > .row {
    padding: 80px 0;
}
.marketing h3 {
    line-height: 1.8;
}
.marketing h4 {
    line-height: 1.5;
    padding: 0px 15px;
}
.snapshot {
    background-color: #85B2F6;
    padding: 120px 0;
}
.phonewrapper {
//    text-align: center;
}
.phonewrapper img {
//    max-height: 
    max-width: 80%;
    margin: 0 auto;
}
#response {
    min-height: 20px;
    padding: 10px 0;
}
.bottom {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}
.bottom i {
    color: white;
    text-shadow: 3px 3px 3px #505050;
}
.transition {
    width: 100%;
//    padding: 15px;
    border-bottom: 1px solid #c0c0c0;
}
.color {
    background-color: #0066ff;
    text-align: center;
    display: inline-block;
    padding: 15px;
    border-radius: 2px;
    margin-bottom: 30px;
}
.color h3 {
    margin: 0;
    font-weight: 400;
    color: #f0f0f0;
    letter-spacing: 1px;
}
.circle {
    display: inline-block;
    border-radius: 50%;
    behavior: url(PIE.htc);
    background: white;
    border: 8px solid #0066ff;
    margin: 0 auto;
    margin-bottom: 60px;
}
#planning, #social, #money {
    margin: 35px;
}
.mailer {
    background-color: #b0b0b0; 
    text-align: center;
}
.mailer h2 {
    font-weight: 300;
    color: #f0f0f0;
    line-height: 1.5;
}
.mailer p {
    font-size: 125%;
    font-weight: 300px;
    color: #f0f0f0;
}
.mailer .jumbotron {
    margin-bottom: 0px;
}
.btn-info {
    background-color: #0066ff;
    border: none;
}
.footer {
    background-color: #404040;
    padding: 15px;
    color: #f0f0f0;
    text-align: center;
}

//sharing page
.navbar{
  // padding: 0;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;

}
.list-title{
  text-align: center;
  margin-top: 0;
  font-family: 'Homemade Apple', cursive;
  background-color: #E5EFFF;
  padding:3px;

  }
.list-contents{
  margin-top:10px;
}
.sharing .col-xs-6{
  min-height: 150px;
  padding: 15px;
  margin-bottom: 8px;
}
.gift{
  border: gray solid 1px;
}
.gift-comment{
  background-color:#F9F6F6;
}
//end sharing page