//Global
$pearl: #f8f5f2;
$black: #020509;

$lapis: #556dac;
$salmon: #f79b77;
$peppercorn: #755248;
$stoneground: #4b4345;

$lightblue: #0066ff;//Giftr logo color
$blue: #000066;//Giftr logo color

//Foundation Colors
$secondary-color: #777;
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

$navheight: 67px;
$negnavheight: -67px;

.jumbotron {
  padding: 3rem;
}
.wrapper {
  min-height: 100vh;
  padding-top: $navheight;
}
@media screen and (max-width: 39.9375em) {
  .jumbotron {
    padding: 1.875rem .938rem;
  }
  .wrapper {
    padding-top: 0;
  }
}
.margin-left {
  margin-left: 1em;
}
.w500 {
  font-weight: 600;
}
.white {
  color: $white;
}
.lightblue {
  color: $lightblue;
}
.blue {
  color: $blue;
}
.medium-gray {
  color: $medium-gray;
}
.dark-gray {
  color: $dark-gray;
}
.pearl {
  color: $pearl;
}
.light-gray {
  color: $light-gray;
}
.black {
  color: $black;
}
.lapis {
  color: $lapis;
}
.salmon {
  color: $salmon;
}
.peppercorn {
  color: $peppercorn;
}
.stoneground {
  color: $stoneground;
}
.button.radius {
    border-radius: 3px;
}
.zerotbmargin {
    margin-top: 0;
    margin-bottom: 0;
}
.zerolrmargin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.zerolrpadding{
  padding-left: 0;
  padding-right: 0;
}
.whitebtn {
    color: $pearl !important;
}
.nomaxwidth {
  max-width: 200rem;
}
.out-vc {
  display: table;
  width: 100%;
}
.in-vc {
  display: table-cell;
  vertical-align: middle;
}

//Navbar
//region
nav.row {
  max-width: none;
}
nav.column {
  position: fixed;
  top: 0;
  z-index: 1030;
  padding: 0;
   -webkit-box-shadow: 0px 1px 3px 0px rgba($peppercorn, .50);
  -moz-box-shadow: 0px 1px 3px 0px rgba($peppercorn, .50);
  box-shadow: 0px 1px 3px 0px rgba($peppercorn, .50);
}
.top-bar {
  font-size: .9rem;
}
.top-bar img {
  max-height: 50%;
}
.top-bar-left ul li:first-child a {
  height: 100%;
} 
@-moz-document url-prefix() {//logo correct size
    .top-bar img {
      max-height: 50%;
      width: 50%;
    }
}
.top-bar-right ul {
  padding: 0.35rem 0.35rem;
  line-height: 1;
}
.title-bar {
  background-color: white;
  font-size: .9rem;
}
.title-bar .menu-icon {
  top: 4px;//vertical align off when float-left
}
.title-bar .menu-icon:after {
  background: $lapis;
}
.title-bar .menu-icon::after {
  box-shadow: 0 7px 0 $lapis, 0 14px 0 $lapis;
}
.title-bar img {
  max-height: 25px;
}
.title-bar ul {
  display: inline-block;
  float: right;
}
.title-bar ul li .button {
  padding: 0.45rem 1rem;
}
.title-bar ul li:not(.menu-text) > a {
  padding: 0.35rem 1rem;
}
@media screen and (max-width: 640px) {
  .top-bar {
//    position: absolute;
    width: 100%;
  }
}
//endregion

//Index
//region
.index.imagecover {
//  background-image: image-url("Bear.jpg");
  background-image: url("https://s3.amazonaws.com/giftrassets/LandingPage/Bear_large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom  ;
  position: relative;
  margin-top: $negnavheight;//navbar height
}
.index .centered {
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  position: relative;
  width: 100vw;
}
.index .centered .row .button {
  margin: 0 auto;
  display: block;
}
.index .stoneground {
  color: darken($stoneground, 10%);
  font-weight: 500;
}
.index .jumbotron>div {
  background-color: rgba($pearl, 0.75);
  padding: 2rem;
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 3px;
}
.index h1 {
  font-size: 4rem;
}
@media screen and (max-height: 899px) {
  .index .centered {
    vertical-align: top;
  }
  .index h1 {
    padding-top: 75px;//adjust for navbar
}
}
@media screen and (max-width: 39.9375em) {
  .index.imagecover {
    padding-top: $navheight;
//    margin-top: 0;//navbar height
    background-image: url("https://s3.amazonaws.com/giftrassets/LandingPage/Bear_small.jpg");
  }
  .index .jumbotron {
    padding-top: 0;//adjust for navbar
  }
  .index .jumbotron>div {
    margin-top: 1rem;
    background-color: rgba($pearl, 0.85);
  }
  .index h3 {
    font-size: 1rem;
  }
  .index h1 {
    padding-top: 20vh;
    font-size: 2rem;
  }
}
//endregion

//Options & Signup
#options {
  background-color: $pearl;
  display: none;
}
#options, #signup {
  min-height: 100vh;
  margin-top: $negnavheight;
  padding-top: $navheight;
  width: 100%;
}
#options .columns, #options .columns .fa {
  display: block;
}
#options .columns .fa {
  color: $peppercorn;
  padding-top: .25rem;
  padding-bottom: .25rem;
}
#options .columns img {
  max-width: 12rem;
  display: inline-block;
}
#options .clearfix {
  background-color: $medium-gray;
  padding: 1.25em;
  border-radius: 6px;
}
#options>.out-vc, #signup>.out-vc {
  display: table-row;
  position: relative;
  height: 100%;
}
#options .in-vc, #signup .in-vc {
  padding-top: 2rem;
  vertical-align: middle;
}
#signup .in-vc {
  padding-top: 0;
}
#options .in-vc .in-vc {
  vertical-align: top;
}
#options .row {
  margin-bottom: $navheight;
}
#options .button {
  margin-bottom: 0;
  margin-top: 1rem;
}
#options h3, #signup h3 {
  margin: 2rem;
  margin-top: 0;
}
#options h4 {
  font-weight: 800;
}
#signup {
  min-height: 100vh;
  background-color: lighten($peppercorn, 25%);
  display: none;
}
.form .jumbotron>div {
  background-color: rgba($pearl, 0.5);
  padding: 2rem;
  max-width: 50rem;
  margin: 0 auto;
  border-radius: 3px;
}
.form .jumbotron {
  padding-top: 0;
}
.form #user_email {
  border-radius: 3px;
}
.form .notice {
  margin-bottom: 1rem;
}
.form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $pearl inset;
}
#signup {
  background-color: $pearl;
}
#signup .in-vc>.jumbotron>div {
  background-color: lighten($stoneground, 25%);
  border-radius: 3px;
  max-width: 55rem;
  margin: 0 auto;
}
#signup h5.stoneground {
  color: darken($stoneground, 10%);
}
@media screen and (max-width: 990px) {
  #options .columns img {
    max-width: 10rem;
  }
}
@media screen and (max-width: 770px) {
  #options .columns img {
    max-width: 8rem;
  }
}
@media screen and (max-width: 640px) {
  #signup {
  background-color: lighten($stoneground, 25%);
}
  #options .columns:nth-child(2), #options .columns:nth-child(3) {
    margin-top: 2rem;
    text-align: center;
  }
  #options .columns:nth-child(3) {
    margin-bottom: 2rem;
  }
  #options .columns>div {
    margin: 0 auto;
    max-width: 20rem;
  }
  #options, #signup {
  margin-top: 0;
  padding-top: 0;
  }
}
@media screen and (max-height: 899px) {
  #options .in-vc {
  vertical-align: top;
  }
}
//MediaCenter
//region
.mediacenter .small-6 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mediacenter .bg1 {
  background-color: $stoneground;
  padding: 15px;
}
.mediacenter .bg2 {
  background-color: $lapis;
  padding: 15px;
}
.mediacenter .bg1:hover {
  background-color: darken($stoneground, 15%);
}
.mediacenter .bg2:hover {
  background-color: darken($lapis, 35%);
}
.mediacenter > div {
  max-width: 750px;
  margin: 0 auto;
}
@media screen and (max-width: 39.9375em) {
  .mediacenter .columns:nth-child(3) .bg1 {
    background-color: $lapis;
  }
  .mediacenter .columns:nth-child(4) .bg2 {
    background-color: $stoneground;
  }
  .pushdown {
    height: 50px;
}
}

//endregion

//Footer
//region
.footer {
  background-color: darken( $stoneground, 15% );
  color: $medium-gray;
  font-size: 80%;
  padding: 1rem;
}
.list-unstyled {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.list-inline li {
  display: inline-block;
  padding: 0 5px;
  margin: 1rem 0 1rem;
}
.social-icons .fa {
  font-size: 1.8em;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
}
.social-icons.icon-rounded .fa {
  border-radius: 3px;
}
.social-icons .fa:hover, .social-icons .fa:active {
  color: #FFF;
  -webkit-box-shadow: 1px 1px 3px #333;
  -moz-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333; 
}
#mediacenter {
    color: rgba(255, 255, 255, 0.8);
}
#mediacenter:hover, #mediacenter:active {
    color: #FFF;
}
.social-icons .fa-facebook {
  background-color: #3c599f;
}
.social-icons .fa-twitter {
  background-color: #00aced;
}
.social-icons .fa-youtube {
  background-color: #C52F30;
}
.social-icons .fa-google-plus {
  background-color: #CF3D2E;
}
.social-icons .fa-angellist {
  background-color: rgb(68,68,68);
}
.social-icons .fa-envelope {
  background-color: #229ACC;
}
@media screen and (max-width: 39.9375em) {
  .social-icons .fa {
    font-size: 1.4em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
  }
}
//endregion

//Adjustment for min-screen width
body, nav { 
  min-width: 319px;
}
@media screen and (max-width: 39.9375em) {
  nav.column {
//    position: relative;
  }
}