@import 'pages.scss';

.outline {
  border: 1px solid black;
}
#userform, #more-options, #thank-you {
	display:none;
}
.button.secondary {
  background-color: $lapis;
  color: $pearl;
  margin-bottom: 0;
  margin-top: 20px;
}
.button.secondary:hover, .button.secondary:focus {
  background-color: darken($lapis, 25%);
  color: $pearl;
}
.storyblock .suggestedGift {
  padding-top: 25px;
  font-size: 0.9rem;
}
.storyblock > .substory, .storyblock .hidediv {
  display: none;
}
.storyblock .substory p {
  padding: 0 10px;
}
.diy {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
//  font-weight: 800;
  background-color: $ltyellow;;
  color: $stoneground;
  border-radius: 6px;
}
//BEGIN COUNTDOWN
#countdown {
//  background-color: $salmon;
  margin-left: 0.25rem;
  
}
.position{
	display: inline-block;
	height: 0.9rem;
	overflow: hidden;
	position: relative;
	width: 0.6rem;
}
.digit{
	position:absolute;
	display:block;
	background-color:$stoneground;
	text-align:center;
	color: $medium-gray;
}
.countDiv{
	display:inline-block;
	width:8px;
	height:1.2rem;
	position:relative;
}
.countDiv:before,
.countDiv:after{
	position:absolute;
	width:3px;
	height:3px;
	background-color:$medium-gray;
	border-radius:50%;
	left:50%;
	margin-left:-1px;
	top:0.5em;
	content:'';
}
.countDiv:after{
	top:0.9em;
}
//END COUNTDOWN
.savebar-push {//TBU with javascript
  width: 100%;
}
.savebar {
  background-color: $shade;
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 0.25rem;
}
.savebar .button, .gift-similar .button {
  padding: 0.5em 1em;
}
.pseudotopbar {
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba($peppercorn, .50);
  -moz-box-shadow: 0px 1px 3px 0px rgba($peppercorn, .50);
  box-shadow: 0px 1px 3px 0px rgba($peppercorn, .50);
  padding: 15px;
  padding-left: 0;
  
}


.idea-top-left {
  border: 1px solid $light-gray;
  border-right: none;
  border-bottom: none;
  padding-top: .9375rem;
  padding-bottom: .9375rem;
  border-top-left-radius: 6px;
}
.idea-top-right {
  border: 1px solid $light-gray;
  border-left: none;
  border-bottom: none;
  padding-top: .9375rem;
  padding-bottom: .9375rem;
  border-top-right-radius: 6px;
}
//.idea-left {
////  border: 1px solid $lapis;
//  border: 1px solid $light-gray;
//  border-right: none;
////  border-bottom: none;
//  padding-top: .9375rem;
//  padding-bottom: .9375rem;
//  border-top-left-radius: 6px;
//  border-bottom-left-radius: 6px;
//}
//.idea-right {
////  border: 1px solid $lapis;
//  border: 1px solid $light-gray;
//  border-left: none;
////  border-bottom: none;
//  padding-top: .9375rem;
//  padding-bottom: .9375rem;
//  border-top-right-radius: 6px;
//  border-bottom-right-radius: 6px;
//}
//.idea-bot-left {
//  border: 1px solid $lapis;
//  border-right: none;
//  border-top: none;
//  padding-top: .9375rem;
//  padding-bottom: .9375rem;
////  border-top-left-radius: 6px;
//  border-bottom-left-radius: 6px;
//}
//.idea-bot-right {
//  border: 1px solid $lapis;
//  border-left: none;
//  border-top: none;
//  padding-top: .9375rem;
//  padding-bottom: .9375rem;
////  border-top-right-radius: 6px;
//  border-bottom-right-radius: 6px;
//}
.story-details {
  font-weight: 600;
  color: $lapis;
}
.recipient-background {
  font-size: .8125rem;
}
.giftr-humbnail .row, .gift-similar .row {
  margin-bottom: 1rem;
}
.giftr-tips>.row>.columns {
  border: 1px solid $light-gray;
  font-size: .8125rem;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.giftr-tips img { 
  min-width: 30px;
}
.gift-similar .columns {
  background-color: $light-gray;
  border: $dark-gray;
}
.circle {
  background-color: $light-gray;
  border-radius: 100%;
  padding: 10px;
  display: inline-block;
  max-width: 50px;
}
.idealabel {
  background-color: $dark-gray;
  font-size: 1.15rem;
  border-radius: 3px;
}
.fa-star.lapis {
  color: $lapis;
}
.fa-star-half-o.lapis {
  color: $lapis;
}
//.border {
//  width: 100%;
//  border-top: 2px dotted $lapis;
//}
.dontpanic .jumbotron {
  background-color: $medium-gray;
}
.dontpanic .button {
//  background
}
.button-group {
  position: relative;
  display: inline-block;
  margin: 1rem 0;
  &:before {
    content: attr(data-grouptype);
    z-index: 99999;
    color: #999;
    display: block;
    font-size: 1rem;
    padding: 0.25em;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 42.5%;
    top: 0.35rem;
  }
  button + button {
    margin-left: 5px;
  }
}
.button-group.expand {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.button-group.expand .button {
  display: table-cell;
  float: none;
}
//.button-group .two:before {
//  content: "OR";
//  z-index: 9999;
//  color: #999;
//  display: block;
//  font-size: 1rem;
//  padding: 0.25em;
//  border-radius: 50%;
//  background: #fff;
//  position: absolute;
//  left: -moz-calc(33% - 1em);
//  left: -webkit-calc(33% - 1em);
//  left: -o-calc(33% - 1em);
//  left: calc(33% -  1em);
//  top: -moz-calc(50% - 12px);
//  top: -webkit-calc(50% - 12px);
//  top: -o-calc(50% - 12px);
//  top: calc(50% -  12px);
//}
.button-group .three:before {
  content: "OR";
  z-index: 9999;
  color: #999;
  display: block;
  font-size: 1rem;
  padding: 0.25em;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: -moz-calc(50% - 1em);
  left: -webkit-calc(50% - 1em);
  left: -o-calc(50% - 1em);
  left: calc(50% -  1em);
  top: -moz-calc(50% - 12px);
  top: -webkit-calc(50% - 12px);
  top: -o-calc(50% - 12px);
  top: calc(50% -  12px);
  border-right: 2px solid $lapis;
}

@media all and (max-width: 639px) {
  .idea-left {
    border-right: 1px solid $light-gray;
    border-bottom: none;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
  }
  .idea-right {
    border-top: none;
    border-top-right-radius: 0;
    border-bottom-left-radius: 6px;
    border-left: 1px solid $light-gray;
  }
}

.switch-on {
  position: absolute;
  left: -55px;
  top: 10px;
  color: white;
  font-weight: bold;
  font-size: 9px;
}

.switch-off {
  position: absolute;
  left: -25px;
  top: 10px;
  color: white;
  font-weight: bold;
  font-size: 9px;
}

.button.hollow.primary {//general override
  border: 1px solid $lapis;
  color: $lapis;
}
.ideaActions .button-group .button {
  font-size: 1.25rem;
  padding: 0;
}
.ideaActions .button.hollow {
//  padding-top: 0;
//  padding-bottom: 0;
  padding-left: 17px;
}
.ideaActions .button.hollow:hover {
  cursor: default;
  border: 1px solid $lapis;
  color: $lapis;
}
#option1 {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
#option1 .button {
  padding: 10px;
}
#click-panic {
  border-radius: 100%;
  background: darken($salmon, 5%);
  height: 175px;
  width: 175px;
}
#click-panic .in-vc{
  height: 139px;
}
#click-panic:hover {
  background: darken($salmon, 15%);
}
.actiondetails>.columns {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: lighten($lapis, 40%);
  color: $stoneground;
}
.actiondetails>.columns { 
}
.actiondetails a {
  font-size: .8125rem;
  font-style: oblique;
}
.actiondetails .thumbnail {
  margin-top: 15px;
//  max-height: 100px;
}
.actiondetails.maybe {
  display: none;
}
.actiondetails.maybe>.columns {
  background-color: lighten($light-gray, 5%);
}
.actiondetails.maybe a {
  font-style: normal;
}
.relationship-details .columns {
  padding-left: 5px;
  padding-right: 5px;
}

/////STYLES MORE OPTIONS PAGE
#moreinfoblock, #signup {
  min-height: 100vh;
  margin-top: $negnavheight;
  padding-top: $navheight;
  width: 100%;
}
#moreinfoblock .columns, #moreinfoblock .columns .fa {
  display: block;
}
#moreinfoblock .columns .fa {
  color: $peppercorn;
  padding-top: .25rem;
  padding-bottom: .25rem;
}
#moreinfoblock .columns img {
  max-width: 12rem;
  display: inline-block;
}
#moreinfoblock .clearfix {
  background-color: $light-gray;
  padding: 1.25em;
  border-radius: 6px;
}
#moreinfoblock>.out-vc {
//  display: table-row;
  position: relative;
  height: 100%;
//  width: 100vw;
  min-width: 100vw;
}
#moreinfoblock .in-vc {
  padding-top: 2rem;
  vertical-align: middle;
}
#moreinfoblock .in-vc .in-vc {
  vertical-align: top;
}
#moreinfoblock .row {
  margin-bottom: $navheight;
}
#moreinfoblock .button {
  margin-bottom: 0;
  margin-top: 1rem;
}
#moreinfoblock h3, #signup h3 {
  margin: 2rem;
  margin-top: 0;
}
#moreinfoblock h4 {
  font-weight: 800;
}

@media screen and (max-width: 640px) {

  #moreinfoblock .columns:nth-child(2), #moreinfoblock .columns:nth-child(3) {
    margin-top: 2rem;
    text-align: center;
  }
  #moreinfoblock .columns:nth-child(3) {
    margin-bottom: 2rem;
  }
  #moreinfoblock .columns>div {
    margin: 0 auto;
    max-width: 20rem;
  }
  #moreinfoblock {
  margin-top: 0;
  padding-top: 0;
  }
}
@media screen and (max-height: 899px) {
  #moreinfoblock .in-vc {
  vertical-align: top;
  }
}

//// STYLE LOGIN PAGES
.log-in-form {
  border: 1px solid $medium-gray;
  padding: $global-padding;
  border-radius: $global-radius;
}

//STYLE 
.actiondetails .thumbnail {
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
//  background-size: auto 100%;
  background-size: cover;
  background-position: center center;
  -webkit-filter: sepia(50%);
-moz-filter: sepia(50%);
-o-filter: sepia(50%);
-ms-filter: sepia(50%);
filter: sepia(50%);
}
#ONEthumb1, #ONEthumb2, #ONEthumb3, #ONEthumb4, #ONEthumb5, #ONEthumb6, #ONEthumb7, #ONEthumb8, #ONEthumb9, #ONEthumb10, #ONEthumb11, #ONEthumb12 {
  background-image: url("http://placehold.it/350x250");
}
#ONEidea1, #ONEidea2, #ONEidea3 {
  background-image: url("http://placehold.it/350x250");
}
.gift-photo .thumbnail {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.button .in-vc p {
//  padding-bottom: 4px;
  display: inline-block;
  margin: 0;
}
.switch-input {
  margin: 0;
}
.switch {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.switch.round .switch-paddle {
  margin: 0 0 -4px 5px;
}
.switch.round .switch-paddle, .switch.round .switch-paddle:after {
  border-radius: 1000px;
}
.gift-details .bg-ltyellow {
  margin-left: -10px;
  margin-right: -10px;
  padding: 0 15px;
}
.gift-container .thumbnail {
  margin-bottom: 0;
}
.gift-container .row .columns:nth-child(2) {
  padding-left: 5px;
}
.storyblock .button {
  padding: 0.5em;
}
.storyblock p {
  font-size: 80%;
  margin: 10px 0;
  padding: 0 5px;
  //background-color: $ltyellow;
}
@media all and (max-width: 64em) { 
  .gift-container.jumbotron, .gift-details .jumbotron {
    padding-left: 0;
    padding-right: 0;  
  }
}
@media all and (max-width: 639px) {
  .gift-details .bg-ltyellow {
  margin-left: -5px;
  margin-right: -10px;
}
  .gift-photo .thumbnail {
    margin-bottom: 0;
  }
  .gift-details .jumbotron {
    padding-top: 0;
  }
  .gift-container > .row,  {
    padding-left: .625rem;
    padding-right: .625rem;
  }
  .idea-top-left {
    border-right: 1px solid $light-gray;
    border-top-right-radius: 6px;
  }
  .idea-top-right {
    border-left: 1px solid $light-gray;
    border-top: none;
    border-top-right-radius: 0;
  } 
  .ideaActions .button-group .button {
    font-size: .875rem;
  }
  .switch {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }
  .button .in-vc p {
  padding-bottom: 4px;
  }
  .switch.round .switch-paddle {
  margin: 0 0 -8px 5px;
  }
}
@media all and (max-width: 450px) {
  .switch {
//    padding-top: 0;
  }
}
