//MAIN IDEA IMAGES
#g0dwpidea1 {
  background-image: url("https://images.unsplash.com/photo-1450297166380-cabe503887e5?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1475");
}
#g0dwpidea2 {
  background-image: url("https://images.unsplash.com/photo-1445633814773-e687a5de9baa?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=78d156057cd0b9c783aff7c304040b32");
}
#g0dwpidea3 {
  background-image: url("https://images.unsplash.com/photo-1453063574201-48d2ffe2e4c5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=6c3a04cdc4ae81e08684f5442a06b3d3");
}
///BUY IMAGES
#g0dwpthumb1 {
  background-image: url( "http://image.brilliantearth.com/media/shape_images/5C/BE403_round_white.jpg");
}
#g0dwpthumb2 {
  background-image: url("http://www.kay.com/images/products/1723/172373502_MV_PD.jpg");
}
#g0dwpthumb3 {
  background-image: url("http://meshu.io/static/images/index/index_big/orbit.jpg");
}
#g0dwpthumb4 {
  background-image: url("https://cache.net-a-porter.com/images/products/676497/676497_ou_pp.jpg");
}
#g0dwpthumb5 {
  background-image: url( "http://www.chanel.com/dam/fashion/catalog/collections/HDB1512/HDB/products/A01112/A01112Y0129521209/classic_flap_nbsp-sheet.png.fashionImg.hi.png");
}
#g0dwpthumb6 {
  background-image: image-url("burberry.jpeg");
}
#g0dwpthumb7 {
  background-image: image-url("TB_22159509_001.jpeg");
}
#g0dwpthumb8 {
  background-image: url("http://michaelkors.scene7.com/is/image/MichaelKors/30S5GTCE3L-0001_1");
}
#g0dwpthumb9 {
  background-image: url( "http://d5qsyj6vaeh11.cloudfront.net/images/destinations/backgrounds/d208_l_limerick_bg_1280x768.jpg");
}
#g0dwpthumb10 {
  background-image: url("http://www.punta-cana-airport.com/images/punta-cana-beaches.jpg");
}
#g0dwpthumb11 {
  background-image: url("http://www.holidayhomecamp.org/images/home-camp-pier.jpg");
}
#g0dwpthumb12 {
  background-image: url("http://www.planetware.com/photos-large/USCO/colorado-springs-garden-of-the-gods.jpg");
}