.gift-container {
	outline: black solid 1px;
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
}


#userform, #more-options, #thank-you {
	display:none;
}

////COUNTDOWN
.countdownHolder{
	width:450px;
	margin:0 auto;
	font: 40px/1.5 'Open Sans Condensed',sans-serif;
	text-align:center;
	letter-spacing:-3px;
}
.position{
	display: inline-block;
	height: 1.6em;
	overflow: hidden;
	position: relative;
	width: 1.05em;
}
.digit{
	position:absolute;
	display:block;
	width:1em;
	background-color:#444;
	border-radius:0.2em;
	text-align:center;
	color:#fff;
	letter-spacing:-1px;
}
.digit.static{
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);
}

.countDiv{
	display:inline-block;
	width:16px;
	height:1.6em;
	position:relative;
}
.countDiv:before,
.countDiv:after{
	position:absolute;
	width:5px;
	height:5px;
	background-color:#444;
	border-radius:50%;
	left:50%;
	margin-left:-3px;
	top:0.5em;
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
	content:'';
}
.countDiv:after{
	top:0.9em;
}
////END COUNTDOWN