@import 'pages.scss';
  
.gift-container {
	outline: black solid 1px;
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
}

#userform, #more-options, #thank-you {
	display:none;
}

//BEGIN COUNTDOWN
#countdown {
  background-color: $salmon;
}
.position{
	display: inline-block;
	height: 0.9rem;
	overflow: hidden;
	position: relative;
	width: 0.6rem;
}
.digit{
	position:absolute;
	display:block;
	background-color:$salmon;
	text-align:center;
	color: $shade;
}
.countDiv{
	display:inline-block;
	width:8px;
	height:1.2rem;
	position:relative;
}
.countDiv:before,
.countDiv:after{
	position:absolute;
	width:3px;
	height:3px;
	background-color:$shade;
	border-radius:50%;
	left:50%;
	margin-left:-1px;
	top:0.5em;
	content:'';
}
.countDiv:after{
	top:0.9em;
}
//END COUNTDOWN
.savebar-push {//TBU with javascript
  height: 170px;
//  width: 100%;
}
.savebar {
  background-color: $shade;
  position: fixed;
  top: 0;
  width: 100%;
}
.savebar .button {
  padding: 0.5em 1em;
}