/nav.column.row
/  .title-bar.show-for-small-only
/    = link_to root_path do
/      = image_tag '/assets/Giftr_Logo.png'
/    ul.menu
/      li 
/        = link_to 'Join', new_user_registration_path, class: 'button small radius whitebtn'
/      li
/        = link_to 'Log In', new_user_session_path, class: 'button hollow radius small margin-left'
//large navbar
nav.column.row
  .top-bar
    .top-bar-left
      ul.dropdown.menu[data-dropdown-menu]
        li
          = link_to root_path do
            = image_tag '/assets/Giftr_Logo.png'
/        li.has-submenu
/          a
/            | Explore
/          ul.submenu.menu.vertical[data-submenu]
/            li
/              a[href="#"]
/                | About (coming soon)
/            li
/              a[href="#"]
/                | Blog (coming soon)
/    .top-bar-right
/      ul.menu
/        - if user_signed_in?  
/          li.dark-gray
/            | Logged in as 
/            strong
/              = current_user.email
/          li
/            = link_to edit_user_registration_path do
/              i.fa.fa-cog
/        - else
/          li 
/            = link_to 'Join', new_user_registration_path, class: 'button radius whitebtn'
/          li
/            = link_to 'Log In', new_user_session_path, class: 'button hollow radius margin-left'